
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url(components/cards.css);
@import url(components/Menu.css);
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/footer.css);
@import url(components/container.css);
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header, .container, .footer {
  padding: 20px; 
  text-align: center;
}

.banner {
    background-image: url('https://media.istockphoto.com/id/1443914481/fr/photo/intelligence-artificielle-du-cerveau-cpu-concept.jpg?s=2048x2048&w=is&k=20&c=E6zs7JR_CeFeYU4jNOfwshR4RW8_o90PmvxXCG1BJ7c=');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: relative;
  }
.stylish-image {
    position: center;
    width: 700px;
display: block;
margin: 0 auto;
box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
border: 2px solid #ddd
 
}
.banner h1,
.banner p {
  display: block; 
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5em;
  margin: 10px auto; 
  width: fit-content;
}

.banner .btn-primary { 
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #ffcc00; 
  color: #333;
  padding: 15px 30px; 
  font-size: 1.1em; 
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.2em;
}

.menu a:hover {
  color: #ffcc00;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    max-width: 300px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 20px;
    background: white;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h4 {
    margin: 10px 0;
    color: #ffcc00;
}

.card p {
    color: #666;
    font-size: 0.9em;
}



.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.footer a {
  color: white;
  margin: 0 15px;
}

.footer a:hover {
  color: #ddd;
}

.text-center {
  text-align: center;
}
